[submodule "vendor/reveal.js"]
	path = vendor/reveal.js
	url = https://github.com/hakimel/reveal.js/
[submodule "presentations"]
	path = presentations
	url = https://github.com/westonbelk/presentations
[submodule "_writeups"]
	path = _writeups
	url = https://github.com/westonbelk/ctf-writeups
