img {
	max-width: 100%;
}

footer {
	text-align: center;
	color: grey;
}

body {
	font-size: 18px;
}

pre {
    tab-size: 4;
}


/* Presentations CSS */
.media-object {
	width: 256px;
}

.media {
	padding: 5px;
	border-width: 5px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 6px;
}

.btn {
	font-size: 16px;
}

.half-width {
	width: 50%;
}

/* Github Table Styles */

table {
	padding: 0;
}

table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
	margin-bottom: 0;
}

/* Mobile Styles */

@media screen and (max-width: 767px) {
	.mobile-full-width {
		width: 100%;
	}

	/* Presentations Page - Media blocks */
	.media-left {
		display: block;
	}

	.media-body h3 {
		text-align: center;
	}

	.media-object {
		margin: auto auto;
	}

	/* Homepage floating */
	img.profile {
		float: none;
		display: block;
		margin: auto auto;
		padding: 10px;
	}

	.btn-group-responsive {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
	}

	.btn-group-responsive .btn {
		width: 100%;
		margin-bottom: 5px;

		/* Overrides */
		margin-left: 0px !important;
		border-top-right-radius: 4px !important;
		border-top-left-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}

}