img.profile {
	float: right;
	height: 400px;
	margin: 10px;
}



body {
	font-size: 18px;
}

.media-object {
	width: 256px;
}

.media {
	padding: 5px;
	border-width: 5px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 6px;
}

.btn {
	font-size: 16px;
}

.half-width {
	width: 50%;
}

@media screen and (max-width: 767px) {
	.mobile-full-width {
		width: 100%;
	}

	/* Presentations Page - Media blocks */
	.media-left {
		display: block;
	}

	.media-body h3 {
		text-align: center;
	}

	.media-object {
		margin: auto auto;
	}

	/* Homepage floating */
	img.profile {
		float: none;
		display: block;
		margin: auto auto;
		padding: 10px;
	}

	.btn-group-responsive {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
	}

	.btn-group-responsive .btn {
		width: 100%;
		margin-bottom: 5px;

		/* Overrides */
		margin-left: 0px !important;
		border-top-right-radius: 4px !important;
		border-top-left-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}

}