<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Replay Attacks</title>

		<link rel="stylesheet" href="/presentations/reveal/css/reveal.css">
		<link rel="stylesheet" href="/presentations/reveal/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/presentations/reveal/lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/presentations/reveal/css/print/pdf.css' : '/presentations/reveal/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown="replayattack.md" data-separator="^\n\n\n" data-separator-vertical="^\n\n" data-separator-notes="^Note:"></section>
			</div>
		</div>

		<script src="/presentations/reveal/lib/js/head.min.js"></script>
		<script src="/presentations/reveal/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/presentations/reveal/plugin/markdown/marked.js' },
					{ src: '/presentations/reveal/plugin/markdown/markdown.js' },
					{ src: '/presentations/reveal/plugin/notes/notes.js', async: true },
					{ src: '/presentations/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
