<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
{% include navigation.html %}

<main class="container">
	<article class="body-article">
		<header class="jumbotron">
			<h1 id="hero-title">{{ page.hero-title }}</h1>
			<p id="hero-text">{{ page.hero-text }}</p>
		</header>

		<section>
			{{ content }}
		</section>
	</article>
	<footer>
		<hr>
		<div class="copyright">© 2017 Weston Belk &lt;contact@westonbelk.com&gt;</div>
	</footer>
</main>

	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>